* {
    -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.container { /*<-- use to center content within boxes*/
  width:1080px;
  margin:auto;
  font-family:Helvetica Lucida serif;
}

header {
  background-color:#000;
  height:200px;
  width:100%;
  border-bottom: 3px solid yellow;
  color:#FFFF00;
}

h1 {
  padding:20px;
  margin:0 auto;
  font-size:34px;
  font-family:Helvetica Lucida serif;
  font-weight:600;
}

.headernav {
  float:right;
  color:yellow;
  margin:40px 10px 0px 0px;
}

a.boldhead {
  color:white;
  font-weight:600;
  text-decoration:none;
  padding:10px;
  text-transform:uppercase;
  font-family:sans-serif;
  font-size:20px;
}

a.head {
  color:white;
  font-weight:300;
  font-size:20px;
  text-decoration:none;
  padding:10px;
  text-transform:uppercase;
  font-family:sans-serif;
}

.brain {
  background-color:#D3D3D3;
  height:75px;
  width:100%;
  margin:0 auto;
}

p.regular{
  color:black;
  font-weight:600;
  font-style:italic;
  margin:0 auto;
  text-align:center;
  padding:20px;
  font-size:30px;
}

strike {
  color:gray;
}

span {
  border-bottom:3px solid #FFFF00;
}

.cowork {
  background: url(../images/coworking.jpg) no-repeat center top;
    background-size:cover;
  width:100%;
  height:100%;
}

.opaque {
  background-color:rgba(225, 225, 225, 0.7);
  float:right;
  border-style:inset;
  border-color:#D3D3D3;
  border-width:thin;
  height:550px;
  width:400px;
  margin-top:30px;
}

.meetmatch {
  color:#000000;
  font-weight:400;
  margin:5%;
  font-size:22px;
  padding:20px;
  font-family:Helvetica Lucida serif;
  line-height:1.5em;
 }

p.mmatch {
  opacity:1;
}

 h2 {
  font-size:30;
  opacity:1.0;
  font-weight:800;
  font-family:Helvetica Lucida serif;
}

.CreateProfile {
  background-color:#FFFF00;
  padding:20px;
  font-size:24px;
  text-transform:uppercase;
  border-radius:4px;
  margin:75px 0px 0px 25px;
  font-weight:600;
}

.actions {
  height:400px;
  width:100%;
  background-color:#FFF;
  font-family:Helvetica Lucida serif;
  margin:20px 0px 20px 0px;
  font-weight:500;
  font-size:20px;
  line-height:1.5em;
}

.start {
  height:400px;
  width:350px;
  background-color:#FFF;
  float:left;
  padding:40px;
  border-right:solid gray 1px;
}

.finddeveloper {
  height:400px;
  width:350px;
  background-color:#FFF;
  float:left;
  padding:40px;
  border-right:solid gray 1px;
}

.finddesigner {
  height:400px;
  width:350px;
  background-color:#FFF;
  float:left;
  padding:40px;
}

h3 {
  font-size:30px;
  margin:0 auto;
}

.actbuttons {
  padding:10px;
  border-radius:4px;
  text-transform:uppercase;
  text-align:center;
  margin:50px 20px 0px 15px;
  font-weight:600;
  width:250px;
  background-color:#A9A9A9;
}

footer {
  background-color:#000;
  height:100px;
  width:100%;
  color:white;
  font-family:lucida serif;
  font-weight:300;
  padding-top:10px;
  font-size:24px;
 }

 p.copyright {
  margin-top:30px;
  }